$sizes: (
  display1: 4.5rem,
  display2: 3.75rem,
  display3: 3rem,

  h1: 2.25rem,
  h2: 1.875rem,
  h3: 1.5rem,
  h4: 1.25rem,
  h5: 1.125rem,
  h6: 1rem,

  subheading: 1.125rem,

  b1: 1rem,
  b2: 1rem,
  b3: 0.875rem,
  b4: 0.875rem,

  caption1: 0.75rem,
  caption2: 0.75rem,

  footer: 0.625rem,
);

$weights: (
  display1: 500,
  display2: 500,
  display3: 500,

  h1: 700,
  h2: 700,
  h3: 700,
  h4: 700,
  h5: 700,
  h6: 700,

  subheading: 500,

  b1: 400,
  b2: 700,
  b3: 400,
  b4: 700,

  caption1: 500,
  caption2: 700,

  footer: 500,
);

$line-heights: (
  display1: 5.25rem,
  display2: 4.5rem,
  display3: 3.5rem,

  h1: 2.5rem,
  h2: 2.25rem,
  h3: 2rem,
  h4: 1.75rem,
  h5: 1.75rem,
  h6: 1.5rem,

  subheading: 1.5rem,

  b1: 1.5rem,
  b2: 1.5rem,
  b3: 1.25rem,
  b4: 1.25rem,

  caption1: 1rem,
  caption2: 1rem,

  footer: 0.75rem,
);
