@use 'sass:map';
@use '../styles/colors.scss';
@use '../styles/typography.scss';

.label-container {
  color: colors.$text;
  font-size: map.get(typography.$sizes, 'b4');
  font-weight: map.get(typography.$weights, 'b4');
  line-height: map.get(typography.$line-heights, 'b4');
}
